/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* font */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
/* header */
.header {
  width: 100%;
  background: #e1f1fd;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35%;
}

.nav-links {
  color: #000000;
  margin-right: 51px;
  letter-spacing: 0.2px;
  transition: all 0.3s;
}
.website-logo {
  transition: all 0.3s;
}
.resetMargin {
  margin: 0px;
}
.signup-ul {
  padding: 20px 36px;
}

.blue-primary__border {
  border-radius: 50px;
  background-color: #0285e4;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  width: 158px;
  height: 52px;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Nurito", sans-serif;
}

.signup a {
  color: white;
}
.navBar-img {
  display: none;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sticky {
  position: fixed;
  top: 0;
  transition: all 0.3s;
}

.texts-block {
  width: 526px;
}

.texts-p {
  margin: 25px 0px 25px;
}

.h1 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.texts-p {
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
}

.email-input {
  width: 284px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 50px;
  outline: none;
  margin-right: 8px;
}

.email-input::-webkit-input-placeholder {
  padding-left: 20px;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.email-input::-moz-placeholder {
  padding-left: 20px;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.email-input:-ms-input-placeholder {
  padding-left: 20px;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.email-input::-ms-input-placeholder {
  padding-left: 20px;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.email-input::placeholder {
  padding-left: 20px;
  color: #5c5c5c;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.email-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-img {
  width: 415px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.media-img {
  display: none;
}

/* Section */
.section {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px 199px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 27px;
  text-align: center;
}
.section-p {
  width: 577px;
  font-family: "Nunito", sans-serif;
  color: #5c5c5c;
}

.span2 {
  display: none;
}

/* Facebook block */
.facebook-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 62px 0px 7px;
}

.blue-line,
.grey-line {
  width: 377.65px;
  height: 15px;
  border-radius: 9.5px;
  background-color: #0285e4;
}
.grey-line {
  background: #f3f5f8;
}

.facebook-text {
  width: 757px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: #505d6f;
}

.number {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #505d70;
}

.tryForFree__block {
  width: 191px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 15px;
  background-color: #112d57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.facebook {
  margin: 0px 40px 0px 40px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  color: white;
}

/* Creating Modal */

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal__title {
  font-size: 2.5rem;
  text-align: center;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.disableScroll {
  overflow-y: hidden;
}
